<!-- Componente: Tooltip Flotante de Habilidades -->
<div id="skill_floating_tooltip" class="skill-game-tooltip" style="display: none;">
  <div class="tip-header">
    <div class="tip-icon-box">
      <img id="tip_icon" src="" alt="" class="tip-icon-img" />
    </div>
    <div class="tip-header-info">
      <div class="tip-title-row">
        <div id="tip_title" class="tip-title"></div>
      </div>
      <div id="tip_type" class="tip-type"></div>
    </div>
  </div>
  <div class="tip-body">
    <div id="tip_attributes" class="tip-attributes" style="display: none;"></div>
    <div id="tip_desc" class="tip-desc"></div>
    <div id="tip_stats" class="tip-stats" style="display: none;"></div>
  </div>
</div>
